$theme-color: black;
$border-color: $theme-color;

.container {
  align-self: center;
  width: 350px;
  height: 350px;
  margin: -50px 0px 0px -50px;
  top: 30%;
  left: 30%;
  padding: 0px 140px;
  position: absolute;
}

.login {
  font-family: 'Gothic', cursive;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 50px;
}

.membership {
  display: flex;
  padding-bottom: 20px;
  text-decoration: none;
  font-weight: 350;
  font-size: 18px;
  text-align: center;
  justify-content: space-evenly;
  .member {
    color: $border-color;
  }

  .nonMember {
    color: #b3b3b3;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.idInput {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
  display: flex;
  border: 1px solid #8f8f8f;
  width: 100%;
  height: 50px;
  .idIcon {
    align-self: center;
  }
  .loginInput {
    text-align: center;
    width: 100%;
    padding: 10px 20px 10px 0px;
    border: none;
    outline: none;
  }
  .idIcon {
    img {
      width: 23px;
    }
  }
}

.pwInput {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
  display: flex;
  border: 1px solid #8f8f8f;
  width: 100%;
  height: 50px;
  .pwIcon {
    align-self: center;
  }
  .loginInput {
    text-align: center;
    width: 100%;
    padding: 10px 20px 10px 0px;
    border: none;
    outline: none;
  }
  .pwIcon {
    img {
      width: 23px;
    }
  }
}

.saveIdCheckbox {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  align-items: center;
  float: left;
  .saveId {
    color: #8f8f8f;
    font-size: 14px;
    padding-left: 8px;
  }
}

.loginButton {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 0px;
  border: 0;
  color: white;
  background-color: black;
  font-size: 16px;
  &.active {
    cursor: pointer;
    background-color: black;
  }
  &.inactive {
    background-color: black;
  }
}

.forgetPassword {
  display: flex;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 13.5px;
  margin-top: 25px;
  text-align: center;
  justify-content: space-evenly;
  .goToSignup {
    text-decoration-line: none;
    color: #b3b3b3;
  }
}
