.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  position: relative;
  bottom: 200px;

  .exchange_container {
    margin: 50px 200px;
  }

  .desc {
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    color: #333333;
    min-width: 700px;
  }
}
