/* 상품 페이지 - 카테고리 */
$color-black: #333;
$color-gray: #eee;
$border-style-gray: 1px solid rgb(192, 192, 192);

@mixin position(
  $position,
  $t: null,
  $r: null,
  $b: null,
  $l: null,
  $w: null,
  $h: null
) {
  position: $position;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  width: $w;
  height: $h;
}

.list_header {
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  h2 {
    color: $color-black;
    font-weight: 700;
    font-size: 28px;
  }
}
.select_filter {
  @include position(relative, $w: 112px, $h: 34px);
  border: $border-style-gray;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
  .select_filter_drop {
    display: none;
    @include position(absolute, $t: 32px, $l: -1px, $w: 112px);
    border: $border-style-gray;
    background-color: white;
  }
  .drop_list_title {
    color: $color-black;
  }
  .drop_list,
  li.drop_list {
    width: 112px;
    height: 30px;
    padding: 8px;
    font-size: 14px;
    span {
      @include position(absolute, $t: 0, $r: 5px, $w: 18px, $h: 30px);
      background-color: hsl(0, 0%, 90%);
    }
    .drop_list_arrow_down {
      background: url(https://www.lush.co.kr/data/skin/front/howling/img/etc/select-arrow-down-11x7.png)
        no-repeat 50% 55%;
    }
    .drop_list_arrow_up {
      background: url(https://www.lush.co.kr/data/skin/front/howling/img/etc/select-arrow-up-11x7.png)
        no-repeat 50% 50%;
    }
  }
  li:hover,
  .active {
    background-color: $color-gray;
  }
}
