.inner {
  width: 60vw;

  .img {
    width: 100%;
    height: 270px;
    padding-right: 5px;
    border-radius: 30%;
    object-fit: cover;
    cursor: pointer;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  ul {
    .products_info {
      text-align: center;
      font-family: fantasy;
      font-weight: bolder;
      margin-top: 20px;
    }
  }
}
