/* 상품 페이지 - 상품 목록 */
@mixin size($w: null, $h: null, $m: null, $lh: null) {
  width: $w;
  height: $h;
  margin: $m;
  line-height: $lh;
}

.product_list {
  width: 100%;
  overflow: hidden;
  li {
    float: left;
    width: 25%;
    margin-bottom: 30px;
    text-align: center;
    .prd_img {
      @include size(285px, 285px);
      img {
        @include size(100%, 100%);
        object-fit: cover;
      }
    }
    .prd_label {
      span {
        display: inline-block;
        @include size(60px, 20px, 5px 2px, 20px);
        border-radius: 10px;
        color: white;
        font-size: 12px;
        font-weight: 600;
      }
      &_new {
        background-color: #007a29;
      }
      &_vegan {
        background-color: #92ac00;
      }
    }
    .prd_name {
      line-height: 22px;
      .prd_hashtag {
        color: #888;
        font-size: 14px;
        span:first-child {
          padding-right: 5px;
        }
      }
    }
    .prd_price {
      margin-top: 15px;
      line-height: 30px;
      span:first-child {
        padding-right: 5px;
      }
    }
  }
}
