@mixin flex-center {
  display: flex;
  align-items: center;
}

.event_box {
  @include flex-center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 100px;

  .event_info {
    @include flex-center;
    width: 85vw;

    ul {
      li {
        float: left;
        width: 33.3%;
        padding-bottom: 75px;

        img {
          width: 26.5vw;
          height: 230px;
          margin-bottom: 25px;
          object-fit: cover;
        }
        .event_text {
          text-align: center;
          .text_1 {
            font-size: 22px;
            font-weight: bold;
          }
          .text_2 {
            font-size: 16px;
            padding-top: 10px;
          }
          .text_3 {
            color: #8f8f8f;
            margin-top: 16px;
            font-weight: lighter;
          }
        }
      }
    }
  }
}
