@mixin size($w: null, $h: null, $m: null, $p: null) {
  width: $w;
  height: $h;
  margin: $m;
  padding: $p;
}
@mixin position($position, $t: null, $r: null, $b: null, $l: null) {
  position: $position;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

.container {
  @include size(1170px, $m: 0 auto, $p: 20px);
  @include position(relative, $b: 150px, $r: 10px);
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  .review_info {
    width: 200px;
    .rate {
      padding: 10px 0;
      font-size: 17px;
    }
    .date {
      padding: 20px 0;
      font-size: 14px;
    }
    .username {
      font-size: 14px;
    }
  }
  .text {
    font-size: 14px;
    width: 900px;
    word-break: break-all;
    line-height: 24px;
  }
  .buttons {
    display: flex;
    width: 100px;
    button {
      @include size(50px, 26px, 4px);
      @include position(relative, $t: 40px);
      background: #c7c7c7;
      color: white;
      border: 0;
      cursor: pointer;
    }
  }
}
