@mixin flex-center {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;

  .event_upper_portion {
    @include flex-center;
    flex-direction: column;
    margin-top: 100px;

    .event_title {
      width: 300px;
      font-weight: bold;
      font-size: 42px;
      text-align: center;
      padding-bottom: 60px;
      padding-top: 20px;
    }

    .search_box {
      @include flex-center;
      justify-content: center;
      width: 85vw;
      height: 95px;
      background-color: #f8f8f8;

      .search {
        @include flex-center;
        justify-content: space-between;
        width: 40vw;

        select {
          width: 100px;
          height: 38px;
          padding-inline-start: 15px;
          border-radius: 0;
          font-size: 14px;
          font-size: 16px;
        }
        select:focus {
          outline: none;
        }

        input {
          width: 310px;
          height: 38px;
        }
        input:focus {
          outline: none;
        }

        button {
          margin-left: 15px;
          width: 135px;
          height: 38px;
          border-radius: 0px;
          border: 0;
          color: white;
          background-color: black;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    .event_tab {
      @include flex-center;
      justify-content: space-between;
      width: 500px;
      color: #8f8f8f;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
