@mixin size($w: null, $h: null, $m: null) {
  width: $w;
  height: $h;
  margin: $m;
}

.container {
  @include size(578px, 462px, 240px auto 0);
  :nth-child(1) {
    margin: 20px auto;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    color: #666666;
    h1 {
      font-size: 28px;
      color: black;
      span {
        color: red;
      }
    }
    div {
      margin: 0 auto;
    }
    .buttons {
      margin: 30px auto;
      button {
        @include size(130px, 44px, 10px);
        cursor: pointer;
        background-color: transparent;
        color: #666666;
        border: 1px solid #666666;
      }
    }
  }
}
