.container {
  width: 1000px;
  margin: auto;

  h2 {
    font-size: 42px;
    height: 60px;
    margin: 100px 0;
    font-weight: 900;
    text-align: center;
  }

  table {
    min-width: 700px;
    caption {
      font-size: 22px;
      height: 30px;
      font-weight: 900;
      position: relative;
      text-align: left;
    }
    margin: 0 auto;
    th {
      color: #8f8f8f;
      border-top: 1px solid black;
      padding: 15px 0;
    }
    td {
      text-align: center;
    }
    .info {
      width: 440px;
      height: 50px;
    }
    .count {
      width: 185px;
      height: 50px;
    }
    .price {
      width: 160px;
      height: 50px;
    }
    .total_price {
      width: 160px;
      height: 50px;
    }
    .ship {
      width: 120px;
      height: 50px;
    }
  }
  .order_price {
    min-width: 750px;
    background-color: lightgray;
    font-size: 18px;
    text-align: center;
    color: #333333;
    width: 100%;
    height: 94px;
    padding: 30px;
    span {
      padding: 10px;
    }
    .price {
      font-weight: 700;
    }
    .total_price {
      font-size: 26px;
      font-weight: 700;
    }
  }
  .delete_btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;
    margin: 20px 0;
  }
  .buttons {
    display: flex;
    justify-content: center;
    :nth-child(1) {
      background-color: white;
      border: 1px solid black;
    }
    :nth-child(2) {
      background-color: black;
      color: white;
      border: 1px solid black;
    }
    button {
      width: 280px;
      height: 63px;
      margin: 30px;
      cursor: pointer;
    }
  }
}
