.wrapercontainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.container {
  width: 600%;
  display: flex;
}
.inner {
  width: 100%;
}
.img {
  width: 100%;
  height: 580px;
  margin-bottom: 50px;
}
.wrapbutton {
  position: absolute;
  right: 0;
  top: 200px;
}
.button {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  color: black;
  display: block;
  border-style: none;
  background-color: transparent;
  border: 2px solid grey;
}

.button:focus {
  background-color: white;
  opacity: 1;
}
