.tab {
  margin: 100px auto;
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: inline-block;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    width: 400px;
    height: 47px;
    line-height: 47px;
    border: 1px solid;
    text-decoration: none;
    color: black;
    &:nth-child(2) {
      border-left: none;
      border-right: none;
    }
  }
}
