.container {
  margin: 0 auto;
  width: 580px;
  position: relative;
  right: 160px;

  .select_container {
    display: flex;
    margin: 50px 0;
    .home,
    .lush {
      font-size: 14px;
      margin: 1px 10px;
      min-width: 30px;
    }

    .main_category,
    .sub_category {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      position: relative;
      bottom: 6px;
      width: 146px;
      padding: 3px 10px;
      cursor: pointer;
      :nth-child(2) {
        top: 24px;
      }

      a {
        font-size: 14px;
        border: 1px solid #535353;
        color: #535353;
        padding: 4px 10px;
      }

      .mainList,
      .subList {
        display: none;
        position: absolute;
        margin: 24px 0;
        border-top: none;
        width: 126px;
      }

      &:hover {
        a {
          display: block;
        }
      }
    }
  }

  .procuct_name {
    font-size: 28px;
  }

  .hashtags {
    color: gray;
    margin: 30px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid gray;
  }

  .good_to_know {
    color: #1e1e1e;
    margin: 30px 0;
    font-size: 14px;
  }

  .review_btn {
    color: #1e1e1e;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    height: 20px;
    margin: 0;
    padding: 0;
    &:hover {
      color: lightgray;
    }
  }

  .price {
    display: flex;
    margin: 50px 0;
    font-size: 14px;
  }

  .price_num {
    margin: 0 10px;
    padding: 0 10px;
  }

  .weight {
    display: flex;
    margin: 10px 0;
    font-size: 14px;
  }

  .weight_num {
    margin: 0 10px;
  }

  .buy_count {
    display: flex;
    font-size: 14px;
    margin: 20px 0;
    padding: 40px 0;
    border-bottom: 1px solid gray;

    .count {
      padding: 0 30px 0 0;
    }

    .buy_input {
      border: 1px solid gray;
      padding: 4px;
      position: relative;
      bottom: 6px;
      input {
        width: 53px;
        border: none;
        outline: none;
        background-color: transparent;
        text-align: center;
      }
    }

    button {
      border: 0;
      cursor: pointer;
      background-color: transparent;
    }
  }

  .sum {
    display: flex;
    justify-content: right;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 14px;

    .sum_num {
      padding: 0 10px;
      margin: -4px 0;
      font-size: 24px;
    }
  }

  .buttons {
    display: flex;

    .cart,
    .order {
      width: 285px;
      height: 50px;
      font-size: 15px;
      border: 1px solid black;
      margin: 10px;
      cursor: pointer;
    }

    .cart {
      background-color: white;
    }

    .order {
      background-color: black;
      color: white;
    }
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
