$theme-color-1: black;
$theme-color-2: #8f8f8f;
$border-style-1: 1px $theme-color-1 solid;
$border-style-2: 1px $theme-color-2 solid;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-box {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

@mixin input-border {
  margin-bottom: 10px;
  width: 400px;
  height: 40px;
  padding-inline-start: 15px;
  outline: 0;
}

@mixin info-text {
  padding-left: 25px;
  width: 170px;
  height: 40px;
}

@mixin error-text {
  padding-bottom: 10px;
  margin-left: 170px;
  font-size: 14px;
}

.container {
  position: relative;

  .signup_box {
    margin: 50px auto;
    width: 100vw;
    height: 1100px;

    .signup_upper_portion {
      @include flex-center;
      flex-direction: column;
      margin-top: 30px;

      .join_us {
        width: 300px;
        font-weight: bold;
        font-size: 42px;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
      }

      .join_us_step {
        width: 300px;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        color: #b3b3b3;
        .input_info {
          color: $theme-color-1;
          font-weight: 550;
        }
      }
    }

    .signup_form {
      @include flex-center;
      flex-direction: column;
      margin-top: 30px;
      margin-left: 200px;
      margin-right: 200px;

      .basic_info_box {
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        line-height: 27px;
        padding-bottom: 20px;
        border-bottom: $border-style-1;
        .basic_info {
          font-weight: bold;
          font-size: 27px;
        }
        span {
          font-size: 14px;
          img {
            margin-right: 5px;
            width: 10px;
          }
        }
      }

      .input_whole_box {
        margin-top: 40px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: $border-style-1;

        .input_box {
          @include input-box;

          .info_text {
            width: 170px;
            height: 40px;
            img {
              margin-right: 15px;
              width: 10px;
            }
          }
        }

        .display_none {
          display: none;
        }

        .basic_input {
          @include input-border;
          border: $border-style-2;
        }

        .red_input {
          @include input-border;
          border: 2px solid #cb201f;
        }

        .black_text {
          @include error-text;
          color: $theme-color-1;
        }

        .green_text {
          @include error-text;
          color: green;
        }

        .red_text {
          @include error-text;
          color: #cb201f;
        }

        .nick_name_input_box {
          @include input-box;

          .nick_name_text {
            @include info-text;
          }
        }

        .email_input_box {
          @include input-box;

          .email_text {
            @include info-text;
          }

          .email_input {
            margin-bottom: 10px;
            position: relative;
            border: $border-style-2;
            width: 280px;
            height: 40px;
            padding-inline-start: 15px;
            outline: 0;
          }

          select {
            margin-bottom: 10px;
            margin-left: 10px;
            width: 110px;
            height: 40px;
            padding-inline-start: 15px;
          }

          .email_agree_box {
            padding-left: 20px;
            input {
              margin-right: 5px;
            }
            span {
              font-size: 14px;
            }
          }
        }

        .phone_input_box {
          @include input-box;

          .phone_text {
            @include info-text;
          }

          .sms_agree_box {
            padding-left: 20px;
            input {
              margin-right: 5px;
            }
            span {
              font-size: 14px;
            }
          }
        }

        .address_input_box_1 {
          @include input-box;

          .address_text {
            @include info-text;
          }

          .address_input {
            margin-bottom: 10px;
            border: $border-style-2;
            width: 280px;
            height: 40px;
            padding-inline-start: 15px;
            outline: 0;
          }

          button {
            margin-bottom: 10px;
            margin-left: 10px;
            width: 110px;
            height: 40px;
            border-width: 1.5px;
            background-color: white;
            font-size: 13px;
          }
        }

        .address_input_box_2 {
          margin-left: 170px;

          .address_input_2 {
            margin-bottom: 10px;
            margin-left: 5px;
            border: $border-style-2;
            width: 380px;
            height: 40px;
            padding-inline-start: 15px;
            outline: 0;
          }
        }
      }

      .divider {
        margin-top: 30px;
        margin-bottom: 30px;
        .signup_button {
          width: 280px;
          height: 60px;
          border-radius: 0px;
          border: 0;
          color: white;
          background-color: $theme-color-1;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
}
