/* 상품 페이지 - Top Banner */
@mixin font-style($size: null, $weight: null, $ls: null) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $ls;
}

.product_top_banner {
  &_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    text-align: center;
    background-size: cover;
    p {
      text-align: center;
      color: white;
    }
    .banner_title {
      margin-bottom: 20px;
      @include font-style(68px, 600, 0.5em);
      text-indent: 0.5em;
    }
    .banner_sub {
      @include font-style(26px, 300, 0.2em);
    }
  }
}
