.container {
  height: 115px;
  border-top: 1px solid lightgray;
  margin: 0 auto;
  td {
    padding: 40px;
  }
  .info {
    width: 440px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    .img {
      position: relative;
      left: 100px;
    }
    .product_name {
      width: 300px;
      font-size: 18px;
      text-align: left;
      position: relative;
      .sub_category {
        font-size: 16px;
        margin: 4px 0;
        color: #8f8f8f;
      }
    }
  }
  .count {
    position: relative;
    bottom: 30px;
    width: 185px;
  }
  .price {
    position: relative;
    bottom: 30px;
    width: 160px;
    min-width: 160px;
  }
  .total_price {
    position: relative;
    bottom: 30px;
    width: 160px;
    min-width: 160px;
  }
  .ship {
    position: relative;
    bottom: 30px;
    font-size: 14px;
    color: #acacac;
    line-height: 20px;
    width: 300px;
    min-width: 160px;
  }
}
