@mixin price($b, $w) {
  position: relative;
  min-width: 160px;
  bottom: $b;
  width: $w;
}
@mixin count($border, $bg, $cursor: auto) {
  border: $border;
  background-color: $bg;
  cursor: $cursor;
}
@mixin left($left) {
  position: relative;
  left: $left;
}
@mixin size($w: auto, $h: auto, $m: auto, $p: auto) {
  width: $w;
  height: $h;
  margin: $m;
  padding: $p;
}

.container {
  border-top: 1px solid lightgray;
  margin: 0 auto;
  td {
    padding: 40px;
  }
  .info {
    @include size($w: 440px, $m: 0 auto);
    display: flex;
    align-items: center;
    button {
      @include size($w: 50px, $m: 0, $p: 0);
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
    .img {
      @include left(100px);
    }
    .product_name {
      @include left(10px);
      width: 360px;
      font-size: 18px;
      text-align: left;
      .sub_category {
        font-size: 16px;
        margin: 4px 0;
        color: #8f8f8f;
      }
    }
  }
  .count {
    .buy_input {
      display: flex;
      border: 1px solid gray;
      padding: 4px;
      input {
        @include count(0, transparent);
        @include left(6px);
        width: 53px;
        outline: none;
        text-align: center;
      }
    }
    button {
      @include count(0, transparent, pointer);
    }
  }
  .price {
    @include price(5px, 160px);
  }
  .ship {
    @include price(10px, 300px);
    font-size: 14px;
    color: #acacac;
    line-height: 20px;
  }
}
